@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    height: 500px;
    border: 1px solid #333;
    border-bottom: 15px solid rgba(0,38,169,255);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#000000, #000000);
}

.fantasma{
    position: absolute;
    bottom: 0;
    width: 80px;
    right: 0px;
    animation: fantasma-animation 1.5s infinite linear;
}

.dica {
    margin-top: 15px;
    padding-top: 7px;
    font-family: 'Press Start 2P', cursive;
    -webkit-font-smoothing : none;
    font-size: 1.3rem;
}

@keyframes fantasma-animation{
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
}

.pacman{
    width: 100px;
    position: absolute;
    bottom: 0;
}

@keyframes jump {
    0%{
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }

    80% {
        bottom: 100px;
    }
    100%{
        bottom: 0px;
    }
}

.jump{
    animation: jump 500ms ease-out;
}

.fundo {
    width: 410px;
    position: absolute;
    animation: fantasma-animation 5s infinite linear;
}

@keyframes fantasma-animation {
    from{
        right: -550px;

    }
    
    to{
        right: 100%;

    }
}
